[defaults]
inventory = ./inventory.yml
roles_path = ./.ansible/roles,./roles
collections_path = ./.ansible/collections

# Disable host key checking as hosts are dynamically replaced
host_key_checking = False
